OAUTH_BASE_URL=https://ims-na1.adobelogin.com/ims/token/
IO_MANAGEMENT_BASE_URL=https://api.adobe.io/events/

# OAuth configs
# The following values can be copied from the Credential details page in AppBuilder under Organization > Project > Workspace > OAuth Server-to-Server
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_TECHNICAL_ACCOUNT_ID=
OAUTH_TECHNICAL_ACCOUNT_EMAIL=
OAUTH_ORG_ID=

# Commerce OAuth configs
# These values can be copied from the Integration Details under System > Integrations
# Commerce base URL should finish with slash '/'
COMMERCE_BASE_URL=https://partnerdays-jz4bb6q-zekho3zpsohow.us-4.magentosite.cloud/
COMMERCE_CONSUMER_KEY=hziy46ow65p8u6n4sxvpkdmafwzc1x24
COMMERCE_CONSUMER_SECRET=nx3qmwornrni06b3jfc83klxmn7653ms
COMMERCE_ACCESS_TOKEN=vlisvspybbjbrthzvibj5nn8qt44gj8v
COMMERCE_ACCESS_TOKEN_SECRET=f27wb9dniinjpo13gsym3jnakthjhgsn

# Commerce Event Module configs
# These values will be used to configure the Adobe I/O Events module automatically
# that can be found at Stores > Configuration > Adobe Services > Adobe I/O Events
COMMERCE_ADOBE_IO_EVENTS_MERCHANT_ID=

# Workspace configs
# The following values can be copied from the JSON downloadable in AppBuilder from Organization > Project > Workspace
# IO_CONSUMER corresponds to project.org.id
# IO_PROJECT_ID corresponds to project.id
# IO_WORKSPACE_ID corresponds to project.workspace.id
IO_CONSUMER_ID=
IO_PROJECT_ID=
IO_WORKSPACE_ID=
