OAUTH_BASE_URL=https://ims-na1.adobelogin.com/ims/token/
IO_MANAGEMENT_BASE_URL=https://api.adobe.io/events/

# OAuth configs
# The following values can be copied from the Credential details page in AppBuilder under Organization > Project > Workspace > OAuth Server-to-Server
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_TECHNICAL_ACCOUNT_ID=
OAUTH_TECHNICAL_ACCOUNT_EMAIL=
OAUTH_ORG_ID=

# Commerce OAuth configs
# These values can be copied from the Integration Details under System > Integrations
# Commerce base URL should finish with slash '/'
COMMERCE_BASE_URL=
COMMERCE_CONSUMER_KEY=
COMMERCE_CONSUMER_SECRET=
COMMERCE_ACCESS_TOKEN=
COMMERCE_ACCESS_TOKEN_SECRET=

# Commerce Event Module configs
# These values will be used to configure the Adobe I/O Events module automatically
# that can be found at Stores > Configuration > Adobe Services > Adobe I/O Events
#
# Set the COMMERCE_ADOBE_IO_EVENTS_MERCHANT_ID property to the merchant's company name.
# Note that the value can only contain alphanumeric characters and underscores.
COMMERCE_ADOBE_IO_EVENTS_MERCHANT_ID=

# Workspace configs
# The following values can be copied from the JSON downloadable in AppBuilder from Organization > Project > Workspace
# IO_CONSUMER corresponds to project.org.id
# IO_PROJECT_ID corresponds to project.id
# IO_WORKSPACE_ID corresponds to project.workspace.id
IO_CONSUMER_ID=
IO_PROJECT_ID=
IO_WORKSPACE_ID=
