name: Node CI Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  deploy:
    name: Deploy to Stage
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        node-version: [ 22.x ]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - run: npm ci
      - run: npm run code:report
      - run: npm test
